@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin absolute-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin clearfix {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin set-line($line) {
	display: -webkit-box;
	-webkit-line-clamp: #{$line};
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin icon-fa {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
}

@mixin has-dash-before-after {
	position: relative;
	padding: 0 30px;
	&:after,
	&:before {
		content: '';
		height: 1px;
		background: currentColor;
		width: 20px;
		color: var(--color-accent);
		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

@mixin has-dash-before {
	@include has-dash-before-after();
	padding-right: 0;
	&:after {
		display: none;
	}
}

@mixin has-dash-after {
	@include has-dash-before-after();
	padding-left: 0;
	color: var(--color-accent);
	&:before {
		display: none;
	}
}

@mixin button {
	position: relative;
    display: inline-block;
    background: #2c3192;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 197px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	&:hover {
		-webkit-transform: rotateX(90deg) translateY(-22px);
    	transform: rotateX(90deg) translateY(-22px);
	}
}
@mixin before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2c3192;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
