h1.title-archive {
	font-size: 18px;
	margin: 0 0 20px;
}

.archive-post {
	position: relative;
	padding: 0px 0 20px;

	&__item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 20px;

		.entry_thumbnail {
			width: 38%;
			display: block;
			margin: 0;
			margin-right: 2%;
			position: relative;
			overflow: hidden;

			&:after {
				content: '';
				display: block;
				padding-bottom: 75%;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.entry_title {
			width: 60%;

			h3 {
				font-size: 24px;
				color: var(--color-accent);
				margin: 0;
				font-weight: 600;
			}

			a {
				text-decoration: none
			}
		}

		.entry_excerpt {
			@include set-line(3);
		}
	}

	&__products {
		position: relative;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__product {
		.entry_title {
			color: #424242;
			max-height: 186px;
			display: block;
			overflow: hidden;
			font-size: 15px;
			margin-bottom: 20px;

			h3 {
				font-size: 15px;
				font-weight: 400;
				margin: 0;
				text-align: center;
			}

			a {
				text-decoration: none;
			}
		}
	}
}

.product-type {
	position: relative;
	padding: 50px 0;

	h2.title {
		@include title;
	}

	&__item {
		position: relative;
		margin-bottom: 30px;


		a {
			text-decoration: none;
		}

		h3 {
			color: #ffffff;
			background: var(--color-accent);
			font-size: 16px;
			letter-spacing: 0px;
			text-transform: uppercase;
			font-weight: 600;
			margin: 0;
			padding: 10px 9px;
			text-align: center;
		}

		&:hover {
			h3 {
				background: #fff;
				color: var(--color-accent);
				font-weight: 700;
			}
		}
	}
}