.banner {
	margin-bottom: 0 !important;

	#test-form {
		display: none;
	}

	&-item {
		height: 445px;
		position: relative;
		background-color: var(--color-accent);

		&__inner {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			.container {
				position: relative;
				z-index: 2;
			}


		}

		&__content {
			max-width: 450px;

			h2 {
				font-size: 36px;
				line-height: 1.2em;
				font-weight: 700;
				margin-bottom: 10px;
			}

			p {
				color: #444;
				margin-bottom: 20px;
				font-size: 18px;
			}
		}

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

	}

	.item_1,
	.item_2,
	.item_3 {
		.popup-with-form {
			background-color: var(--color-accent);
			padding: 4px 20px;
		}
	}

	.item_4,
	.item_5 {

		h2,
		p {
			color: #fff;
		}
	}

	.popup-tu-van {
		text-align: left;
	}
}

.services {
	position: relative;
	padding: 20px 0;

	&__wrap {
		position: relative;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		background: #f9f7f6;

		&:hover {
			background: #fff;
		}

		a {
			padding: 30px 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-decoration: none;
		}

		.s-text {
			display: block;
			color: #231f20;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
			margin-top: 10px;
		}

		.l-text {
			display: block;
			color: #231f20;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 16px;
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 50px 0;

		#test-form {
			display: none;
		}

		.popup-tu-van {
			text-align: left;
		}

		.popup-with-form {
			background-color: var(--color-accent);
		}
	}

	&__about {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h2 {
			color: #231f20;
			font-size: 30px;
			margin: 0 0 20px 0;
		}

		p {
			color: #000;
			font-size: 16px;
		}
	}

	.popup-youtube {
		position: relative;
		display: inline-flex;
		align-items: center;

		&::after {
			content: "";
			background: url('images/play-button.png') center no-repeat;
			background-size: 100%;
			display: block;
			width: 64px;
			height: 64px;
			position: absolute;
			left: 44%;
		}
	}
}