// Primary Menu.
.nav {
	font-size: 15px;
	z-index: 1;

	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0 -15px;
	}

	li {
		border-top: 1px solid var(--color-light);
		padding: 0 15px;
	}

	a {
		display: block;
		color: inherit;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.menu {
		box-shadow: var(--shadow-md);
		border-bottom: 1px solid var(--color-light);

		>li {
			@media (min-width: 992px) {
				display: flex;
				align-items: center;

			}
		}
	}

	// Indent sub menus.
	.sub-menu {
		font-size: var(--text-sm);

		li {
			padding: 5px 15px;
		}

		a {
			display: inline-block;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: inherit;
			padding: 5px 0;
			color: #252525;
		}
	}
}

// Active status on selected.
.current-menu-item>a,
.current-menu-item>.menu-text,
.current-menu-ancestor>.menu-text {
	color: var(--color-accent);
}

// Toggle icon for hamburger menu.
.menu-toggle {
	background: transparent;
	border: none;
	color: var(--c-dark);
	line-height: 1;
	cursor: pointer;

	svg {
		width: 24px;
		height: 24px;
	}
}

// Dropdown icon for submenu toggling.
.menu-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	a {
		padding-right: 0;
		flex: 1;
	}
}

.sub-menu-toggle {
	color: inherit;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;

	@media all and (min-width: 1600px) {
		padding: 12px 12px 12px 0;
	}

	@media all and (min-width: 992px) {
		padding: 8px 0;
	}

	border: none;

	&:hover {
		border: none;
	}

	svg {
		width: 12px;
		height: 12px;
		transition: all 0.2s;
	}
}

.is-open>.menu-text svg {
	transform: rotate(180deg);
}

// Open state.
.is-open>ul {
	display: block;
}

.is-open>.menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9;
	background: #fff;
	margin: 0;
}

// AMP.
.no-js {
	.nav li {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.sub-menu-toggle.is-open+.sub-menu {
			display: block;
			width: 100%;
		}
	}

	.menu-text {
		flex: 1;

		.sub-menu-toggle {
			display: none;
		}
	}
}

@media (min-width: 992px) {
	.menu-toggle {
		display: none;
	}

	.nav {
		.menu {
			box-shadow: none;
			display: flex;
			align-items: center;
		}

		li {
			position: relative;
		}

		// Dropdown 2nd level.
		.sub-menu {
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 999;
			background: #fff;
			width: 250px;
			box-shadow: var(--shadow-md);
			text-indent: 0;
		}

		// Dropdown 3-rd, 4th, ... level submenu
		.sub-menu ul {
			top: 0;
			left: 100%;
		}

		.menu,
		.menu>li,
		li:first-child {
			border: none;
		}
	}

	.nav li:hover>ul {
		display: block;
	}

	// Active status when hover.
	.nav li:hover>a,
	.nav li:hover>.menu-text {
		color: var(--color-accent);
	}

	.sub-menu .sub-menu-toggle svg {
		transform: rotate(-90deg);
	}
}