.ly-do {
	position: relative;
	padding: 60px 0;

	h2.title {
		@include title;
		margin-top: 50px;
	}

	&__wrap {
		position: relative;
		margin-top: 50px;
	}

	&__detail {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 35px;

		&:hover {
			.ly-do__image {
				animation-name: spin1;
				animation-duration: 1.5s;
				animation-timing-function: linear;
				animation-delay: 0s;
				animation-iteration-count: infinite;
				animation-direction: normal;
			}
		}
	}

	&__image {
		width: 90px;
		height: 90px;
		display: block;
		float: left;
		margin-right: 20px;
		/* border: 1px dashed var(--color-accent); */
		padding: 5px;
		border-radius: 50%;
		background-size: 70px !important;
		background-position: center !important;
		box-shadow: -1px 4px 1px #eee;
	}

	&__content {
		width: calc(100% - 110px);

		p {
			font-size: 18px;
			margin: 0;

			span {
				font-size: 36px;
				color: var(--color-accent);
				font-weight: 700;
				margin-right: 5px;
			}
		}
	}
}

@keyframes spin1 {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.questions {
	position: relative;
	padding: 60px 0;

	h2.title {
		font-weight: 500;
		font-size: 28px;
		margin: 0 0 10px;
	}

	&__wrap {
		details {
			margin-bottom: 0px;
		}

		summary {
			padding: 17px 30px 17px 15px;
			background: #f6fafb;
			color: #4b5981;
		}

		.panel {
			padding: 15px;
			border-top: 1px solid transparent;
			border: 1px solid #e8eff1;
		}
	}
}